* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background: rgb(211, 0, 148);
    }

    .container {
      background: white;
      padding: 20px;
      border-radius: 12px;
      width: 350px;
      box-shadow: 0 10px 25px rgba(0,0,0,0.1);
      margin: 220px 600px;
    }

    h1 {
      text-align: center;
      margin-bottom: 15px;
      color: #333;
    }

    .row {
      display: flex;
      gap: 10px;
      margin-bottom: 15px;
    }

    input {
      flex: 1;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
    }

    input:focus {
      border-color: #3b82f6;
    }

    button {
      background: #3b82f6;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 8px;
      cursor: pointer;
    }

    button:hover {
      background: #2563eb;
    }

    ul li {
      list-style: none;
      user-select: none;
      cursor: pointer;
    }

    ul li::before{
      content: '';
      position: absolute;
      height: 28px;
      width: 28px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      top: 12px;
      left: 8px;
    }

      ul li.checked {
      color: #555;
      text-decoration: line-through;
    }

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: #f9fafb;
      padding: 10px;
      border-radius: 8px;
      margin-bottom: 8px;
    }
    ul li span{
      right: 0;
      top: 5px;
      width: 40px;
      height: 40px;
      font-size: 22px;
      color: #555;
      line-height: 40px;
      text-align: center;
      border-radius: 50%;
    }
    ul li span {
      background: #edeef0;
    }

.footer {
    text-align: center;
}